@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

:root {
  --clr-primary: #f0f5f5;
  --clr-primary-dark: #05314c;
  --clr-secondary: #222;
  --clr-secondary-light: #ece9e9;
  --clr-accent: #b63d32;
  --clr-accent-dark: #3c1d17;
}

body {
  background-color: var(--clr-primary);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header {
}

.headerbg {
  background-image: url("../images/Cykla-i-Mariefred.jpg");
  background-color: #f0f5f5;
  background-repeat: no-repeat;
  height: 35em;
  background-position: center;
}

@media screen and (min-width: 700px) {
  .headerbg {
    justify-content: center;
    text-decoration-style: solid;
  }
}

.header_logo {
  border-radius: 50%;
  margin-top: 0em;
}

.navbar {
  padding: 0.25em 0 0;
  background-color: var(--clr-secondary-light);
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar li {
  margin: 0.5em 0;
  display: inline-block;
}

.navbar a {
  color: var(--clr-primary-dark);
  font-weight: bold;
  text-decoration: none;
  margin: 2.5em;
}

.navbar a:hover,
.navbar a:focus {
  color: var(--clr-accent);
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    text-decoration-style: solid;
    font-size: 24px;
    gap: 2em;
  }
}

main {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #552c00;
  font-size: 50px;
  font-weight: 1250;
  margin-top: 0em;
}

@media screen and (max-width: 400px) {
  h1 {
    max-width: 10ch;
    overflow-wrap: hyphenate-word;
    hyphens: auto;
    margin: 0em auto;
  }
}

h2 {
  color: var(--clr-accent);
  font-size: 42px;
}

p {
  color: #303030;
  font-size: 17px;
  margin: 2em;
}

.flex_container {
  padding: 0em 2em 2em;
  gap: 1em;
  grid-template-columns: 50% 50%;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 700px) {
  .flex_container {
    margin: 5em;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  }
}

.services {
  object-position: left;
  grid-column: 1;
  align-self: left;
}

.carpenter_wrapper {
  object-position: right;
  grid-column: 2;
}

@media screen and (min-width: 700px) {
  .carpenter_wrapper {
    margin: 5em;
    max-width: 50ch;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 0em;
  }
}

.workspace_wrapper {
  object-position: left;
  grid-column: 1;
}

.workspace {
  height: auto;
  object-fit: contain;
}

@media screen and (min-width: 700px) {
  .workspace_wrapper {
    margin: 5em;

    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  }
}

.workareas {
  object-position: right;
  max-width: 50ch;
  grid-column: 2;
}

.services,
.workareas {
  margin: 5em;
}

@media screen and (min-width: 700px) {
  .services,
  .workareas {
    margin: 5em;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 1em;
  }
}

.column {
  width: 100%;
  display: block;
  margin: 1em;
}

.two_pics_wrapper {
  display: flex;
  max-height: 575px;
}

@media screen and (min-width: 700px) {
  .two_pics_wrapper {
    margin: 5em;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 0.15em;
  }
}

footer {
  margin-top: 0;
  margin-bottom: auto;
  height: 300px;
}

h3 {
  color: #f0f5f5;
}

.h3_wrapper {
  max-width: 30em;
}

.top_footer {
  background-color: var(--clr-accent-dark);
  height: 80%;
  padding-top: 2em;
  margin-bottom: 0;
  font-size: 20px;
  justify-content: center;
  display: flex;
}

.bottom_footer {
  background-color: var(--clr-accent);
  height: 100%;
  margin-top: 0;
  padding-bottom: 2em;
  font-size: 20px;
  justify-content: center;
}

.footer_logo {
  border-radius: 50%;
  margin-top: 1em;
}

@media screen and (min-width: 700px) {
  .top_footer,
  .bottom_footer {
    margin: 0.5em;
    max-width: 500ch;
    box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  }
}
